# dependencies
/node_modules

# build
/dist
*.tsbuildinfo

# testing
/coverage

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*
/src/generated
